<!doctype html>
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <link href="{% static 'forms/icons/material-icons.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'forms/css/materialize.min.css' %}">
    <script src="{% static 'forms/js/jquery.min.js' %}"></script>
    <script src="{% static 'forms/js/materialize.min.js' %}"></script>
    <title>Form Submitted</title>
</head>
<body>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo ">IITG Form Portal</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <h3>Form : {{ form.title }} Submitted Successfully </h3>
    {% if form.response %}
    <p>Response from From manager : {{ form.response }}</p>
    {% endif %}
</div>
</body>
